body {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  background: #D5DBDB;
  font-weight: bold;
  }

  a {
    color:#636363;
    text-decoration: none;
    transition:all 0.5s ease-in;
  }


  a:hover {
    text-decoration: underline;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  /*Header*/

  .center {
    margin: 10px;
    color:white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
  }

  .navbar {
    background:#A2D9CE;
    border: 6px solid #BABABA;
    text-align:center;
    padding:20px 0;
    max-width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
  }


  .navbar h2 {
    margin:0;
    font-weight:200;
    font-size:100px;
    letter-spacing: 4px;
    font-family: 'Pacifico', cursive;
    border: 6px solid #BABABA;
    padding-left: 100px;
    padding-right: 100px;
  }

  /*images*/

  .pie {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .form img {
    float: left;
    display: flex;
    justify-content: left;
  }

  /*Form*/

  .form_container {
    height: 600px;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 25px;
    display: flex;
    background: #A2D9CE;
    border: 6px solid #BABABA;
    color:#3498DB;
    font-family: 'Pacifico', cursive;
    font-size:40px;
    font-weight:400;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
    float: center;
  }

  .form {
    height: 500px;
    width: 80%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    height:44px;
    width: 100%;
    padding-left:15px;
    padding-right:15px;
    display: flex;
    color:#636363;
    font-size:14px;
    justify-content: center;
    border: 1px solid #dbe2e8;
    border-radius:2px;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline:none;
    }


  .form textarea {
    width: 100%;
    max-width: 100%;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom: 15px;
    color:#636363;
    font-family: 'Work Sans,',sans-serif;
    font-size:14px;
    justify-content: center;
    border-radius:2px;
    border: 1px solid #dbe2e8;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline: none;
  }

  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form button {
    margin: 10px;
    padding: 15px 40px;
    display:flex;
    background: none;
    color: #3498DB;
    font-family: 'Work Sans',sans-serif;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid #3498DB;
    border-radius: 4px;
  }

  /*Post*/

  .post {
    height:100%;
    background:white;
    display: inline-block;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    border-radius: 45px;
  }

  .post_title {
    color: black;
    font-weight:400;
    font-size:30px;
    text-align:center;
    word-wrap: break-word;
  }

  .post_author {
    color: #636363;
  }

  .post_ingredients {
    font-size:20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-align:left;
    word-wrap: break-word
  }

  /*Individual Post*/

  .individual_post_container {
    width: 60%;
    padding: 25px;
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 18%;
    background: #A2D9CE;
    border: 6px solid #BABABA;
    font-family: 'Work Sans',sans-serif;
    justify-content: center;
    align-items: center;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
    border-radius: 45px;
  }

  .individual_post {
    width: 80%;
    margin: 2%;
    padding: 40px;
    background:white;
    justify-content: center;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    border-radius: 45px;
  }

  .individual_post_title {
    color: black;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
  }

  .individual_post_author {
    color: #636363;
  }

  .individual_post_ingredients {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: left;
    word-wrap: break-word
  }

  .control-buttons {
    display:flex;
    justify-content: space-between;
  }


  .delete {
    margin: 10;
    background: none;
    color: red;
    font-family: 'Work Sans',sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 4px;
  }


  .edit {
    margin: 10;
    background: none;
    color: blue;
    font-family: 'Work Sans',sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 4px;
  }

  /*All Posts*/

  .container {
    width: auto;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .post_container {
    height: 300px;
    padding:25px;
    background:#A2D9CE;
    border: 6px solid #BABABA;
    font-family:'Work Sans',sans-serif;
    grid-column-start: auto span 1;
    align-self: center;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
    border-radius: 45px;
  }

  .post_heading {
    color:#3498DB;
    font-weight:400;
    font-size:40px;
    text-align:center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    }


@font-face{
  font-family: 'Teko', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Teko")
}
