body {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  background: #D5DBDB;
  font-weight: bold;
  }


  .center {
    text-align: center;
    color:white;
    font-size: 40px;
    font-weight: bolder;
  } 

  .pie {
    text-align: center;
    justify-content: center;
  align-items: center;
  display:flex;
  margin-left: 475px;
  }

  a {
    color:#636363;
    text-decoration: none;
    transition:all 0.5s ease-in;
  }
  
  
  a:hover {
    text-decoration: underline;
  }

  .navbar {
    background:#A2D9CE;
    text-align:center;
    padding:20px 0;
    max-width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
  }
  
  
  .navbar h2 {
  margin:0;
  font-weight:200;
  font-size:100px;
  letter-spacing: 4px;
  font-family: 'Pacifico', cursive;
  border: 6px solid #BABABA;
  padding-left: 100px;
  padding-right: 100px;
  }
  
  
  /* Post Styles */
  .post-container {
  background:#A2D9CE;
  padding:50px;
  width:50%;
  margin:40px auto;
  box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
  font-family: 'Pacifico', cursive;
  }
  
  
  .post_heading {
    text-align:center;
    font-weight:400;
    font-size:40px;
    color:#3498DB;
    }


  .form_container {
    background: #A2D9CE;
    padding-bottom: 25px;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
    font-family: 'Pacifico', cursive;
    border-radius: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: center;
    text-align:center;
    font-weight:400;
    font-size:40px;
    color:#3498DB;
    }


  
  
  .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 100%;
    height:44px;
    padding-left:15px;
    padding-right:15px;
    justify-content: center;
    border: 1px solid #dbe2e8;
    font-size:14px;
    border-radius:2px;
    color:#636363;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline:none;
    }


  .form textarea {
    width: 100%;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    justify-content: center;
    border: 1px solid #dbe2e8;
    font-size:14px;
    border-radius:2px;
    color:#636363;
    font-family: 'Work Sans,',sans-serif;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline:none;
  }



  .all_post_heading {
    text-align:center;
    font-weight:400;
    font-size:40px;
    color:#636363;
    word-wrap: break-word;
  }

  .post_author {
    color: #636363;
  }


  .post {
    background:white;
    margin:5px;
    padding:40px;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    border-radius: 45px;
  }

  .post_container {
    background:#A2D9CE;
    padding:25px;
    width:27.5%;
    margin:1.1%;
    display: flex;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
    font-family:'Work Sans',sans-serif;
    border-radius: 45px;

  }

  .individual_post {
    background:white;
    margin:5px;
    padding:40px;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    border-radius: 45px;
    width:60%;
    font-family: 'Varela Round', sans-serif;
  }
  
  
  .form button {
    background:#02b3e4;
    padding:15px 40px;
    text-align: center;
    color:#fff;
    font-family:'Work Sans',sans-serif;
    border-radius:4px;
    border:none;
    font-size:20px;
  }


  .post_title {
    text-align:center;
    font-weight:400;
    font-size:30px;
    word-wrap: break-word;
  }


  .post_ingredients {
    font-size:20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-align:left;
    word-wrap: break-word
  }
  
  
  .control-buttons {
    display:flex;
    justify-content: space-between;
  }
  
  
  .delete {
    font-size: 15px;
    font-weight: bold;
    margin: 10;
    background: none;
    font-family: 'Work Sans',sans-serif;
    color: red;
    border: 2px solid red;
    border-radius: 4px;
  }


  .edit {
    font-size: 15px;
    font-weight: bold;
    margin: 10;
    background: none;
    font-family: 'Work Sans',sans-serif;
    color: blue;
    border: 2px solid blue;
    border-radius: 4px;
  }

@font-face{
  font-family: 'Teko', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Teko") 
}
